body { 
    font-family: Arial, sans-serif;/*arial as default font*/
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}

nav{
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 32px;
    border-bottom: 3px solid #8c38ff;
}

ul {
    list-style-type: none;/*removes bullet point infront of text*/
    padding: 0;/*removes the space infront of the text*/
}

a {
    text-decoration: none;/*removes the url look*/
    color: black;
}

/*Navigation menu*/
#nav-menu.hidden {
    display: none;/* this hides the menu whenn the page is loading*/
}

/*Style menu icon*/
.menu-icon {
    right: 25px; /* it moves the menu icon 25px from the right corner*/
    top: 25px;/* it moves the menu icon 25 from the top */
    position: absolute;
    cursor: pointer;/* the pointer is changed to a hand to show tha it can be clicked*/
    font-size: 25px;/* shows the size of the lines (menu icon)*/
}

/*menu style when it is opened*/
#nav-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /*shows the options in one coloumn*/
    list-style: none;
    top: 55px; /* it places 55px under the top( under the icon)*/
    right: 25px; /* it places the menu  25px from the right*/
    border: solid #8f2aa3;
    background-color: aliceblue;
}

#nav-menu ul li {
    text-decoration: none; 
    color: black; /* black colour for linktext */
    font-synthesis-weight: bold;
    padding: 10px; /* space between every selection in the menu*/
}

/*Course Information*/
#courseInformationContainer{
    display: flex;
    flex-wrap: wrap; /*content wraps around*/   
}

#courseInformationContainer section{
    margin: 10px;
    width: 250px;/*defining how big each element can be*/
    border-top: 1px solid black;
}

/*Information about contacts and location*/
#programContacts{
    display: flex;
    justify-content: center;
    width: 100%;
}

#locationAndQuestionWrapper, #fagligLederSection{
    margin: 50px;
}

#studiested a, #questionAboutEdu a{
    text-decoration: underline;
    padding: 16px 32px;
}

#studiested a:hover, #questionAboutEdu a:hover{
    color: #007EA7;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#fagligLederSection a{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#imageOfCourseLeader{
    width: 100px;
    margin-right: 10px;
}

/*Information about other courses*/
#otherCourseContainer{
    margin: 0 20px 0 20px;
}
#otherCourseContainer h2{
    font-size: 2em;
}

#otherCourseUlElement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#otherCourseUlElement a:hover{
    text-decoration: underline;
}

.otherCourse{
    display: inline; /*Displays content horizontally*/
    border-right: 1px solid black;
    padding: 5px; /*TEMP FIND BETTER UNIT*/
}

.otherCourse:last-child{
    border-right: none;/*The last li element wont get a border*/
}

.otherCourseLiElement{
    padding: 0 0 10px 0;
    margin: 0 10px 0 0;
    border-top: 1px solid grey;
    display: flex;
    flex-flow: column wrap;
}

#footerContainer{
    display: flex;
}

#footerContainer{/*i dont know if grid is a good sollution*/
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #162957;
    color: white;
    padding: 25px 0 0 25px;;
    gap: 25px; /*Adds space between the grid elements*/
}

#footerContainer a{
    color: white;
    text-decoration: none;
}

#footerContainer a:hover{
    text-decoration: underline;
}

#footerOtherLinks ul li{
    margin: 10px 0 10px 0;
    font-weight: bold;
}

/* Container for the social media links */
#socialsContainer {
    display: flex;
    flex-direction: column; /* Ensures links stay in a column layout */
    gap: 10px; /* Adds space between each link */
}

/* Style for each social media link */
#socialsContainer a {
    display: flex;
    align-items: center; /* Aligns image and text vertically */
    gap: 8px; /* Adds space between the icon and the text */
    font-size: 20px;
}

.socialMediaLogos{
    height: 25px;
}

@media only screen and (max-width: 800px) {
    #programContacts{
        flex-direction: column;
    }

    #locationAndQuestionWrapper{
        margin-bottom: 0;
    }

    #fagligLederSection{
        margin-top: 0;
    }

    #otherCourseUlElement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .otherCourseLiElement{
        width: 100%;
    }

    #footerContainer {
        grid-template-columns: 1fr; /*turns grid into collumn instead of row*/
    }
}








