body { 
    font-family: Arial, sans-serif;/*arial as default font*/
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}

nav{
    top: 0;
    left: 0;
    right: 0;
    background-color: #212121;
    padding: 16px 32px;
    border-bottom: 3px solid #8c38ff;
}

.menu{
    display: inline;
}

.menu a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition:0.4s ;
    padding: 8px 25px;
    border-radius: 99px;
}

ul {
    list-style-type: none;/*removes bullet point infront of text*/
    padding: 0;/*removes the space infront of the text*/
}

a {
    text-decoration: none;/*removes the url look*/
}

#courseInformationContainer{
    display: flex;
    flex-wrap: wrap; /*content wraps around*/   
}

#courseInformationContainer section{
    margin: 10px;
    width: 250px;/*defining how big each element can be*/
    border-top: 1px solid black;
}

/*Information about other courses*/

#otherCourseUlElement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.otherCourse{
    display: inline; /*Displays content horizontally*/
    border-right: 1px solid black;
    padding: 5px; /*TEMP FIND BETTER UNIT*/
}

.otherCourse:last-child{
    border-right: none;/*The last li element wont get a border*/
}

 .otherCourseLiElement{
    padding: 0 0 10px 0;
    border-top: 1px solid grey;
    width: 500px;
    display: flex;
    flex-flow: column wrap;
 }

#footerContainer{
    display: flex;
}

#footerContainer{/*i dont know if grid is a good sollution*/
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #162957;
    color: white;
    padding: 25px 0 0 25px;;
    gap: 25px; /*Adds space between the grid elements*/
}

#footerContainer a{
    color: white;
    text-decoration: none;
}

#footerContainer a:hover{
    text-decoration: underline;
}

#footerOtherLinks ul li{
    margin: 10px 0 10px 0;
    font-weight: bold;
}

/* Container for the social media links */
#socialsContainer {
    display: flex;
    flex-direction: column; /* Ensures links stay in a column layout */
    gap: 10px; /* Adds space between each link */
}

/* Style for each social media link */
#socialsContainer a {
    display: flex;
    align-items: center; /* Aligns image and text vertically */
    gap: 8px; /* Adds space between the icon and the text */
    font-size: 20px;
}

.socialMediaLogos{
    height: 25px;
}

@media only screen and (max-width: 800px) {
    #footerContainer {
        grid-template-columns: 1fr; /*turns grid into collumn instead of row*/
    }

    #otherCourseUlElement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}